header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.coluna1 {
    margin-top: 15%;
}

.tx2 {
    margin-left: 20px;

}

.textocomeco {
    width: 30vw;
    text-align: justify;

}

.img {
    width: 10px;
}

.final {
    text-align: left;
    margin-top: 170px;
    margin-left: 10px;
}

footer {
    height: 250px;
    margin-top: 50px;
    background-color: #212529;
    color: aliceblue;
    text-align: center;

}

.loading {
    background: #e2fa09;
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 4px;
    animation: rotate 3s linear infinite;
    margin-top: 25px;
}

.fase {
    justify-items: center;
    display: grid;
    margin-top: 125px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'texto carrossel';
}

.fase:last-child {
    margin-bottom: 0;
}
.textocomeco { grid-area: texto; }

.carousel {
    grid-area: carrossel;
    width: 49vw;
}

@media (max-width: 1000px) {
    .fase {
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          'texto' 
          'carrossel';
        margin-top: 30px;
    }
    
    .textocomeco { 
        grid-area: texto; 
        width: 75vw;
        margin: 45px 0 55px 0;
    }
    
    .carousel {
        grid-area: carrossel;
        width: 75vw;
    }
}




@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}
